main {
  font-family: 'Courier New';
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

abbr {
  text-decoration: none;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
}

input[type=submit] {
  font-family: 'Courier New';
  width: fit-content;
}

strong {
  font-size: 40px;
  margin: 20px;
}

.error {
  color: red;
}

h1 {
  text-align: center;
}

p {
  margin: 10px 20px;
  text-align: center;
}

a {
  margin: 20px;
}
